/projects/*
!/projects/.gitkeep

# Data stuff
/data/*/*
!/data/*/.gitkeep

# Onclone
scripts/on-clone.sh

/etc/krakend/krakend.json
/etc/caddy/Caddyfile

# CDN content
!/data/cdn/content
/data/cdn/content/objects/*
!/data/cdn/content/objects/.gitkeep
/data/cdn/content/temp